body {
    font: 23px Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

input {
    font-size: 20px;
}

h1 {
    margin-bottom: 10px;
}

button, vc-text-input::part(button) {
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: clamp(.75rem, 10vw, 1.15rem);
}

button, button.primary, vc-text-input::part(button)  {
    background-color: #7f0080;
    color: white;
}

vc-text-input::part(input) {
    background-color: white;
    color: black;
}

#login-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

#login-signup-status {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.tabs-container {
    width: 100%;
}

.tabs {
    padding: 1em;
    height: 100%;
}

.tabs form {
    display: grid;
    place-items: center;
    height: 100%;
}

.tabs ul {
    display: inline-block;
    text-align: left;
    margin: 0;
}

[role="tablist"] {
    margin-bottom: -1px;
}

[role="tab"] {
    color: black;
    position: relative;
    z-index: 1;
    background-color: #CCCCCC;
    border-radius: 5px 5px 0 0;
    border: 1px solid grey;
    border-bottom: 0;
    padding: 0.2em;
    width: 30%;
    font-size: clamp(.75rem, 2vw, 1.5rem);
}

[role="tab"][aria-selected="true"] {
    z-index: 3;
}

[role="tabpanel"] {
    position: relative;
    padding: 0 0.5em 0.5em 0.7em;
    border: 1px solid grey;
    background-color: #CCCCCC;
    z-index: 2;
    height: 50vh;
    overflow-y: auto;
    border-radius: 0 6px 6px 6px;
}

[role="tabpanel"]:focus {
    border-color: #7f0080;
    outline: 1px solid #7f0080;
}

#dashboard {
    display: none;
    width: 100%;
    height: 100%;
}

#sidebar {
    width: clamp(20%, 50vw, 50%);
    height: 100%;
}

#content {
    width: 80%;
}

.center {
    display: grid;
    place-content: center;
    height: 100%;
    place-items: center;
}

#users-list button {
    color: black;
    background-color: transparent;
    border: none;
}

form input[type="checkbox"]{
    margin-top: 10px;
}

fieldset {
    width: 100%;
    color: white;
}

#settings img {
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

textarea {
    width: 85%;
    font-size: 20px;
}

#messageFeed {
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 22pt;
}

#status {
    height: 35px;
    font-size: 12px;
    color: blue;
}

#send {
    width: 85%;
}

#messages {
    display: none;
}

#loadSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadMessages {
    display: none;
}

.profile-image {
    width: 100%;
    max-width: 300px;
}

#display-name, #user-display-name {
    text-align: center;
}

#display-name {
    color: white;
}

#chat-application {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#chat-container {
    width: 100%;
    height: 100%;
}

#chat-section {
    width: 100%;
    height: 100%;
}

vc-messages, vc-members, vc-text-input, vc-typing-indicator {
    padding: 0;
}

vc-messages {
    height: 90%;
}

vc-messages::part(username){
    color:white
}

vc-text-input {
    font-size: 20px;
}

vc-tex-input::part(input){
    color: white;
}

vc-typing-indicator {
    color: white;
}
  
#group-chat-users {
    max-height: 400px;
    overflow-y: auto;
}

.vonage-spin {
    width: 100%;
}

li {
    cursor: pointer;
    margin-bottom: 5px;
}

.create-group-chat-container {
    text-align: center;
    margin: 10px;
}

details {
    color: white;
}

vc-members::part(li) {
    color: black;
}

vc-members::part(ul) {
    padding: 0;
    border-radius: 6px;
}

vc-members {
    color: #CCCCCC;
    height: 300px;
    width: 100%;
    max-width: 200px;
    --vc-members-nth-child-odd-color: #E6E6E6;
    --vc-members-nth-child-even-color: #CCCCCC;
}

details {
    color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    cursor: pointer;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

#update-image-container {
    width: 30vw;
    font-size: 20px;
}

#update-image-container fieldset{
    width: 90%;
}

#update-image-container input[type="file"]{
    font-size: 1vw;
}

#profile-image-form {
    text-align: center;
}

#uploadlink,
#uploadform {
    display: none;
}

#image-update-url:checked ~ #uploadlink {
    display: block;
}

#image-update-upload:checked ~ #uploadform {
    display: block;
}
